* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Roboto", sans-serif;
  }
nav {
    background: #D9D9D9;
    height: 90px;
    position: relative;
  }
  .wrapper
  {
    margin-left: 120px;
    margin-right: 120px;
    height: 90px;


  }
  .nav_flex
  {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
  }
  .nav_list
  {
    display: flex;
  
  }
  .logo
  {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    color: #021718;
    text-decoration: none;
  }
  .nav_item
  {
list-style: none;
margin-right: 100px;
  }
  .nav_list li:nth-last-of-type(1) {
    margin: 0;
  }
  .nav_list li a
  {
    color: #021718;
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
  }
  .cont_main
  {
background-color:#021718 ;
height: 500px;
  }
.cont_main
{

display: flex;
justify-content: space-around;
align-items: center;
}
.img
{
    width: 280px;
    height: 330px;
}
.info
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title
{
    font-weight: 700;
    font-size: 70px;
    color: #D9D9D9;
    margin-bottom: 24px;
}
.desc
{
font-weight: 30px;
font-size: 30px;
color: #D9D9D9;
margin-bottom: 48px;
}
.button
{
width: 160px;
height: 50px;
background: #01847F;
border-radius: 8px;
padding: 12px 20px;
transition: 300ms;
}
.a
{
    color: #D9D9D9;
    font-size: 24px;
    text-decoration: none;
}
.button:hover
{
    transform: translateY(-8px);
}
.photo
{
    position: relative;
  }
  
 .img 
 {
    transition: 300ms;
    position: relative;
    z-index: 100;
  }
  .img:hover {
    transform: rotate(-6deg);
  }
  .bg 
  {
    position: absolute;
    width: 280px;
    height: 330px;
    top: 1px;
    background: #44a1a0;
    transform: rotate(-6deg);
  }
  footer
  {
    background: #D9D9D9;
    height: 100px;
    position: relative;
  }
  .cont_foot
  {
    margin-left: 50px;
    padding-top: 10px;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
